---
layout: layout.liquid
title: My favorite books
---
<h1>My Favorite Books</h1>
<div class="table-container">
<table>
    <thead>
      <tr id="table-header">
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody id="books">
    </tbody>
  </table>
</div>