body {
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 70px;
}

#table-header {
    font-size: 30px;
}